.svgClass {
  /* flex items-center right-2 top-2 absolute justify-center bg-white rounded-full w-10 h-10 */
  display: flex;
  align-items: center;
  right: 8px;
  top: 8px;
  position: absolute;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  color: var(--primary-selected-color-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.svgClass:hover {
  transform: scale(1.1);
}
